@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
html, body {
  background-image: url("../images/grey.png");
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", serif; }

textarea {
  resize: none; }

#map {
  height: 50%;
  width: 50%; }

.myWell {
  border-radius: 0;
  background-color: #eeede6;
  font-size: 1.5em; }

.featureButton {
  background-color: #B2D0FF;
  margin: 2em 0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2em 3em 2em 3em; }

.list-group .list-group-item {
  border-radius: 0; }

.navbar-brand {
  font-family: "Grand Hotel", cursive;
  font-size: 2em; }

h1 {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  text-shadow: 2px 2px 2px gray; }

.pageHeader {
  margin: 3em auto 1em auto; }

.navbar {
  background-color: #eeede6;
  z-index: 9999; }

.panel {
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4); }
  .panel .panel-heading {
    background-color: #eeede6; }
  .panel .panel-footer {
    background-color: #eeede6; }

.panel-heading {
  background-color: #eeede6; }

.panel-body {
  height: 30em;
  padding: 0; }
  .panel-body > div:nth-child(2) {
    height: 100%; }

.col-sm-6 {
  padding: 0; }

#tripListWell {
  height: 50em;
  overflow: scroll;
  border-radius: 0;
  background-color: #eeede6;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4); }

.floating-panel {
  position: absolute;
  top: 2.9em;
  left: .1em;
  z-index: 5;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: none;
  border: none; }

.dateHeading {
  text-align: center; }

#spotMap {
  margin-left: 1em;
  height: 20em;
  margin-bottom: 2em;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4); }

.entryWrapper {
  transition: all 0.2s ease-in-out;
  margin-left: 1em;
  margin-right: 6.2em;
  background-color: white;
  padding: 1em;
  width: 29em;
  margin-bottom: 1em;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4); }
  .entryWrapper .caption {
    color: #333; }
  .entryWrapper .caption:hover {
    text-decoration: none;
    color: #c83d33;
    transform: scale(1.1); }

.carouselPic {
  max-height: 40em;
  width: 100%; }

#pageLead {
  margin-top: 2em; }

.breadcrumb {
  margin-top: 3.6em;
  border-radius: 0; }

#myModal {
  margin-top: 3em;
  z-index: 10000; }

.thumbnail {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  border-radius: 0;
  padding: 0;
  border: none;
  height: 20em;
  width: 29em;
  background-size: cover;
  text-align: center;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.4); }
  .thumbnail .labelWrapper {
    background-color: rgba(0, 0, 0, 0.3); }
  .thumbnail .captionWrapper {
    margin-top: 14em; }

.thumbnail:hover {
  transform: scale(1.1);
  z-index: 9999;
  color: #c83d33; }

.btn {
  background-color: #f75c50;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  float: right; }

#tripSearchButton {
  background-color: #f75c50;
  color: white;
  border: none;
  margin-left: .5em;
  outline: none; }

#tripSearchButton:hover {
  background-color: #c83d33; }

#tripInput {
  border: none;
  padding-left: .5em;
  outline: none; }

#createATripButton {
  background-color: #B2D0FF;
  border: none;
  margin-top: .5em;
  padding: .5em; }
  #createATripButton a {
    color: black; }

nav #createATripButton:hover {
  background-color: gray; }
  nav #createATripButton:hover a {
    text-decoration: none; }

.hoverButton {
  position: relative;
  bottom: 20em;
  left: 2em; }

.hoverButton:focus {
  background-color: gray; }

.bottomButton {
  bottom: 17.5em;
  left: -.1em; }

.btn:hover {
  background-color: #c83d33; }

.pictureModal {
  box-shadow: none;
  border: none;
  margin-top: 5em;
  background-color: transparent;
  z-index: 10500;
  background-position-x: center;
  text-align: center;
  height: 40em;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat; }

.modalTitle {
  color: white;
  text-shadow: 2px 2px 2px black; }

.modalCap {
  width: 30em;
  margin-top: 27em;
  color: white;
  text-shadow: 2px 2px 2px black; }

.inputModal {
  border-radius: 0;
  padding: 1em; }
  .inputModal input {
    margin-bottom: 1em;
    border-radius: 0; }
  .inputModal textarea {
    margin-bottom: 1em;
    border-radius: 0; }
  .inputModal button {
    border-radius: 0;
    background-color: #B2D0FF; }
  .inputModal button:hover {
    background-color: gray; }
  .inputModal .cancel {
    background-color: gray;
    color: white; }
  .inputModal .cancel:hover {
    background-color: #E3E3E4;
    color: black; }
  .inputModal button:nth-child(2) {
    margin-right: 1em; }

.entryModal {
  border: none;
  border-top: 10em solid transparent;
  box-shadow: none; }
  .entryModal h3 {
    color: #333;
    text-shadow: none; }

.closeModalButton {
  color: white;
  text-shadow: 2px 2px 2px black;
  cursor: pointer; }

.closeModalButton:hover {
  color: #f75c50; }
